on: [push, pull_request]
name: CI
jobs:
  build:
    name: "Build on Racket '${{ matrix.racket-version }}' (${{ matrix.racket-variant }})"
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental || false }}
    strategy:
      fail-fast: false
      matrix:
        racket-version: ["stable", "current"]
        racket-variant: ["CS"]
        include:
          - racket-version: current
            experimental: true
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: Bogdanp/setup-racket@v1.9.1
        with:
          architecture: x64
          distribution: full
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
      - name: Installing paho.mqtt.c
        run: sudo apt-get install -y libpaho-mqtt1.3
      - name: Installing mqtt-client and its dependencies
        run: raco pkg install --no-docs --auto --name mqtt-client
      - name: Compiling mqtt-client and building its docs
        run: raco setup --check-pkg-deps --unused-pkg-deps mqtt-client
      - name: Testing mqtt-client
        run: raco test -x -p mqtt-client
